@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    margin-left: 25vw;
    color: #78716c;
    margin-top: 10vh;
    font-size: 4em;
    
}

.container-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    margin-top: 10vh;
}

.game-item {
    width: 16vw;
    height: 9.7em;
    background-color: black;
    cursor: pointer;
}

.game-item:hover {
    scale: 1.03;
    transition: 0.3s;
    background-color: #a21caf;
}

.board {
    background-color: black;
    border: 1px solid white;
}

.button-container {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-item {
    color: whitesmoke;
    width: 8vw;
    height: 4.4vh;
    background-color: #78716c;
    border: 2px solid #f5f5f4;
    border-radius: 20px;
    cursor: pointer;
}

.button-item:hover {
    scale: 1.2;
    transition: 0.4s;
    background-color: #a3e635;

}

#start-btn {
    margin-right: 1vw;
}

#reset-btn {
    margin-left: 1vw;
}

.message {

    margin-top: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
}